# dependencies
/node_modules

# next.js build output
/.next/
/out/

# lokale database (SQLite file)
/data/*.db
/data/*.db-journal

# env files
.env*
!.env*.example

# misc
.DS_Store
*.log
*.tsbuildinfo
