# dependencies
/node_modules

# next.js build output
/.next/
/.next-build/
/out/

# lokale database (SQLite file)
/data/*.db
/data/*.db-journal
/data/highscores.db-shm
/data/highscores.db-wal

# env files
.env*
!.env*.example

# misc
.DS_Store
*.log
*.tsbuildinfo
